<a href="https://colab.research.google.com/github/ManjuVijayakumar/ICTAK_DSA_FinalProject/blob/main/Crop_prediction_Regression_file_DSA_June25_merging_corrected.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

# Display all columns
pd.set_option('display.max_columns', None)

In [2]:
# Reading crop_yield file

url = 'https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/crop_yield.csv'
data= pd.read_csv(url)
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [3]:
# Unique States
data.State.unique()

array(['Assam', 'Karnataka', 'Kerala', 'Meghalaya', 'West Bengal',
       'Puducherry', 'Goa', 'Andhra Pradesh', 'Tamil Nadu', 'Odisha',
       'Bihar', 'Gujarat', 'Madhya Pradesh', 'Maharashtra', 'Mizoram',
       'Punjab', 'Uttar Pradesh', 'Haryana', 'Himachal Pradesh',
       'Tripura', 'Nagaland', 'Chhattisgarh', 'Uttarakhand', 'Jharkhand',
       'Delhi', 'Manipur', 'Jammu and Kashmir', 'Telangana',
       'Arunachal Pradesh', 'Sikkim'], dtype=object)

In [4]:
data.State.nunique()
# 30 states

30

**Merging Soil Data**

In [5]:
soil_df = pd.read_csv('https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/soil.csv')
soil_df.head()

            State       Soil_type
0       Telangana  red and yellow
1  Andhra Pradesh  red and yellow
2           Assam        alluvial
3           Bihar        alluvial
4       Karnataka           black

In [6]:
soil_df.State.nunique()

31

In [7]:
soil_df.State.unique()

array(['Telangana', 'Andhra Pradesh', 'Assam', 'Bihar', 'Karnataka',
       'Tamil Nadu', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jharkhand', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tripura',
       'Uttar Pradesh', 'West Bengal', 'Arunachal Pradesh', 'Delhi',
       'Jammu and Kashmir', 'Puducherry', 'Uttarakhand'], dtype=object)

In [8]:
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [9]:
data['Country'] = 'India'
data.sample(2)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country
3244,Other Kharif pulses,2010,Kharif,Karnataka,81180.0,66838,1317.7,13484809.80,19483.20,0.755926,India
8127,Jowar,2002,Kharif,Madhya Pradesh,636951.0,586632,800.8,60300151.17,159237.75,0.852222,India

In [10]:
# Verifying any mismatches in the State column
set1 = set(data.State)
set2 = set(soil_df.State)

set1 & set2

{'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal'}

In [11]:
set1 - set2

set()

In [12]:
set2 - set1

{'Rajasthan'}

In [13]:
# Data corrections done
# Need to merge soil type to main dataframe - data

In [14]:
# Copy of main dataframe
data = data.copy()

In [15]:
# Left join

data= pd.merge(data, soil_df, on='State', how= 'left')
data.sample(4)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type
1701,Rapeseed &Mustard,2005,Rabi,Andhra Pradesh,5660.0,2568,1075.5,678747.20,1188.60,0.282500,India,red and yellow
16704,Sunflower,2019,Rabi,Bihar,8081.0,11485,1194.7,1387992.56,2989.97,1.378500,India,alluvial
7337,Sugarcane,2000,Whole Year,Odisha,16775.0,963917,1066.0,1646801.75,4361.50,51.067931,India,red
9807,Groundnut,2006,Kharif,Himachal Pradesh,105.0,80,1207.0,13409.55,23.10,0.905000,India,alluvial

In [16]:
data.shape

(19689, 12)

**Merging Temperature Data**

In [17]:
url = 'https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/Mean%20Temperature%20Data%201997_2020.csv'
temp_df= pd.read_csv(url)
temp_df.sample(3)

,States,Period,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
339,Madhya Pradesh,Post Monsoon,21.79,22.35,22.28,23.06,22.97,23.00,22.53,22.49,21.74,22.96,22.42,23.33,22.69,22.90,22.78,22.20,21.99,22.44,23.38,22.24,22.64,22.46,22.17,22.69
214,Haryana,Nov,19.00,20.36,21.74,21.28,21.34,21.34,19.93,20.92,20.69,21.22,21.28,21.34,20.41,21.27,22.27,20.41,20.31,21.12,21.55,21.57,20.29,20.76,21.06,19.75
360,Manipur,Apr,18.92,20.79,22.48,20.49,21.15,20.49,20.72,20.05,20.96,20.58,20.56,21.42,21.49,21.42,20.77,19.86,20.93,22.07,19.96,20.72,19.68,20.24,20.81,20.15

In [18]:
data.sample()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type
1435,Other Rabi pulses,2003,Rabi,Puducherry,141.0,138,1434.5875,13956.18,33.84,0.99,India,red and loamy

In [19]:
# Pivoting temperature dataset

temp_df_long = temp_df.melt(
    id_vars = ['States', 'Period'],
    var_name = 'Year',
    value_name = 'Temperature'
)

In [20]:
type(temp_df_long)

pandas.core.frame.DataFrame

In [21]:
temp_df_long.sample(3)

          States  Period  Year  Temperature
10595  Rajasthan     May  2014        32.54
5619   Jharkhand     Oct  2006        26.24
473       Punjab  Summer  1997        25.06

In [22]:
temp_df_long.Period.unique()

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'Annual', 'Winter', 'Summer', 'Monsoon',
       'Post Monsoon'], dtype=object)

In [23]:
# Period (like Annual, Summer, Winter) to become its own column

temp_df_pivot = temp_df_long.pivot(
    index=['States', 'Year'],
    columns='Period',
    values='Temperature'
).reset_index()

In [24]:
temp_df_pivot.sample(5)

Period,States,Year,Annual,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Monsoon,Nov,Oct,Post Monsoon,Sep,Summer,Winter
590,Nagaland,2011,19.48,19.70,23.31,15.00,14.80,12.51,23.40,23.39,17.75,21.79,23.49,16.75,21.51,17.75,23.85,19.75,13.66
740,Tamil Nadu,2017,27.99,30.82,28.29,25.47,26.28,25.31,29.05,29.34,28.57,30.58,28.67,26.31,27.83,26.54,28.01,29.99,25.80
510,Manipur,2003,19.74,20.72,23.71,14.92,15.30,13.46,23.00,22.45,17.69,21.66,23.18,18.10,22.30,18.44,23.54,20.02,14.38
659,Punjab,2008,24.57,26.87,29.65,15.81,14.85,12.42,31.48,33.03,24.02,31.22,30.72,20.05,26.72,20.86,28.72,27.37,13.64
705,Sikkim,2006,5.51,4.19,11.51,-0.25,0.90,-1.07,12.23,11.10,1.92,8.15,11.19,1.85,5.63,2.41,9.90,4.75,-0.09

In [25]:
# Merging the temperature dataframe to main dataframe

# A few states and 2021 data not available in the temp df

In [26]:
temp_df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   States        840 non-null    object
 1   Year          840 non-null    object
 2   Annual        840 non-null    float64
 3   Apr           840 non-null    float64
 4   Aug           840 non-null    float64
 5   Dec           840 non-null    float64
 6   Feb           840 non-null    float64
 7   Jan           840 non-null    float64
 8   Jul           840 non-null    float64
 9   Jun           840 non-null    float64
 10  Mar           840 non-null    float64
 11  May           840 non-null    float64
 12  Monsoon       840 non-null    float64
 13  Nov           840 non-null    float64
 14  Oct           840 non-null    float64
 15  Post Monsoon  840 non-null    float64
 16  Sep           840 non-null    float64
 17  Summer        840 non-null    float64
 18  Winter        840 non-null    float64
dtypes: float64(17), object(2)
memory usage: 124.8+ KB

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
 10  Country          19689 non-null  object
 11  Soil_type        19689 non-null  object
dtypes: float64(5), int64(2), object(5)
memory usage: 1.8+ MB

In [28]:
temp_df_pivot['Year'] = temp_df_pivot['Year'].astype(int)

In [29]:
data = pd.merge(
    data,
    temp_df_pivot,
    left_on= ['State', 'Crop_Year'],
    right_on= ['States', 'Year'],
    how= 'left'
).drop(columns=['States', 'Year'])

In [30]:
data.sample(3)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Monsoon,Nov,Oct,Post Monsoon,Sep,Summer,Winter
5450,Oilseeds total,2018,Kharif,Andhra Pradesh,941981.0,2321558,1220.5,1.527893e+08,329693.35,4.400769,India,red and yellow,28.03,31.76,27.77,23.49,26.32,23.63,28.32,30.64,29.59,33.10,28.74,25.78,27.69,25.65,28.22,31.48,24.98
9660,Jowar,2006,Kharif,Bihar,3397.0,3507,1052.8,4.338309e+05,747.34,1.040000,India,alluvial,26.12,28.78,29.23,19.15,22.05,18.41,29.42,30.99,24.72,31.24,29.67,23.00,27.46,23.20,29.04,28.25,20.23
1647,Horse-gram,2004,Kharif,Tamil Nadu,67513.0,20110,1034.0,7.314358e+06,14177.73,0.306800,India,red and yellow,27.49,30.20,28.54,24.91,26.22,25.31,28.30,28.81,28.55,28.95,28.30,25.70,26.81,25.81,27.54,29.23,25.77

In [31]:
data.columns

Index(['Crop', 'Crop_Year', 'Season', 'State', 'Area', 'Production',
       'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield', 'Country',
       'Soil_type', 'Annual', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun',
       'Mar', 'May', 'Monsoon', 'Nov', 'Oct', 'Post Monsoon', 'Sep', 'Summer',
       'Winter'],
      dtype='object')

In [32]:
data= data.rename(columns= {
    'Annual' : 'Annual_mean_temp',
    'Apr' : 'Apr_temp',
    'Aug' : 'Aug_temp',
    'Dec' : 'Dec_temp',
    'Feb' : 'Feb_temp',
    'Jan' : 'Jan_temp',
    'Jul' : 'Jul_temp',
    'Jun' : 'Jun_temp',
     'Mar' : 'Mar_temp',
    'May' : 'May_temp',
    'Monsoon' : 'Monsoon_temp',
    'Nov' : 'Nov_temp',
    'Oct' : 'Oct_temp',
    'Post Monsoon' : 'Post_Monsoon_temp',
    'Sep' : 'Sep_temp',
    'Summer' : 'Summer_temp',
    'Winter' : 'Winter_temp'
})

In [33]:
data.sample(5)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual_mean_temp,Apr_temp,Aug_temp,Dec_temp,Feb_temp,Jan_temp,Jul_temp,Jun_temp,Mar_temp,May_temp,Monsoon_temp,Nov_temp,Oct_temp,Post_Monsoon_temp,Sep_temp,Summer_temp,Winter_temp
5788,Jowar,2019,Rabi,Andhra Pradesh,117962.0,350076,899.2,20261153.12,43645.94,2.358000,India,red and yellow,28.37,32.50,28.19,23.85,26.62,23.14,28.96,32.42,29.78,33.91,29.35,25.95,27.25,25.68,27.84,32.06,24.88
8877,Tobacco,2004,Whole Year,Assam,678.0,365,2536.9,73454.52,142.38,0.580870,India,alluvial,23.27,23.52,27.95,18.17,18.36,16.06,26.43,26.72,23.97,26.06,27.04,20.66,24.28,21.04,27.04,24.52,17.21
13135,Dry chillies,2013,Whole Year,Gujarat,6274.0,6489,1006.5,906530.26,1693.98,0.977333,India,black,27.00,30.27,27.80,21.29,22.70,19.76,28.38,30.97,27.14,32.92,29.02,25.04,28.83,25.05,28.94,30.11,21.23
15961,Bajra,2017,Kharif,West Bengal,30.0,12,1830.0,4723.20,11.40,0.400000,India,alluvial,25.82,28.32,28.67,20.06,21.48,19.23,28.48,29.87,24.38,30.33,28.89,23.54,26.94,23.51,28.54,27.68,20.36
2184,Small millets,2006,Kharif,Tamil Nadu,52702.0,61473,927.9,6730572.42,11594.44,1.057826,India,red and yellow,27.65,30.07,28.16,25.27,26.10,24.75,28.74,29.28,28.23,30.03,28.55,26.01,27.09,26.12,28.02,29.44,25.43

In [34]:
# data.to_csv('crop_yield_main.csv')

**Merging Rainfall Data**

In [35]:
rain_df = pd.read_csv('https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/Sub_Division_IMD_1997_2017.csv')
rain_df.sample(3)

,SUBDIVISION,YEAR,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
676,North Interior Karnataka,2001,2.1,0.0,0.1,22.1,13.3,60.9,62.1,108.8,187.1,137.5,2.5,1.4,598.0,2.1,35.5,418.9,141.4
76,Naga Mani Mizo Tripura,2010,1.0,7.9,85.8,161.5,294.0,411.6,367.5,393.2,309.8,220.2,9.2,33.5,2295.2,8.9,541.4,1482.0,262.9
229,West Uttar Pradesh,2016,2.1,2.0,10.4,0.5,28.3,60.0,352.5,182.9,44.7,9.6,0.0,0.0,692.8,4.0,39.2,640.1,9.6

In [36]:
rain_df = rain_df.rename(columns={"SUBDIVISION": "Subdivision", "YEAR": "Year"})

In [37]:
mapping = {
    "ANDAMAN & NICOBAR ISLANDS": ["Andaman and Nicobar Islands"],
    "ARUNACHAL PRADESH": ["Arunachal Pradesh"],
    "ASSAM & MEGHALAYA": ["Assam", "Meghalaya"],
    "NAGA MANI MIZO TRIPURA": ["Nagaland", "Manipur", "Mizoram", "Tripura"],
    "SUB HIMALAYAN WEST BENGAL & SIKKIM": ["West Bengal", "Sikkim"],
    "GANGETIC WEST BENGAL": ["West Bengal"],
    "ORISSA": ["Odisha"],
    "JHARKHAND": ["Jharkhand"],
    "BIHAR": ["Bihar"],
    "EAST UTTAR PRADESH": ["Uttar Pradesh"],
    "WEST UTTAR PRADESH": ["Uttar Pradesh"],
    "UTTARAKHAND": ["Uttarakhand"],
    "HARYANA DELHI & CHANDIGARH": ["Haryana", "Delhi", "Chandigarh"],
    "PUNJAB": ["Punjab"],
    "HIMACHAL PRADESH": ["Himachal Pradesh"],
    "JAMMU & KASHMIR": ["Jammu and Kashmir"],
    "WEST RAJASTHAN": ["Rajasthan"],
    "EAST RAJASTHAN": ["Rajasthan"],
    "WEST MADHYA PRADESH": ["Madhya Pradesh"],
    "EAST MADHYA PRADESH": ["Madhya Pradesh"],
    "GUJARAT REGION": ["Gujarat"],
    "SAURASHTRA & KUTCH": ["Gujarat"],
    "KONKAN & GOA": ["Goa", "Maharashtra"],
    "MADHYA MAHARASHTRA": ["Maharashtra"],
    "MATATHWADA": ["Maharashtra"],
    "VIDARBHA": ["Maharashtra"],
    "CHHATTISGARH": ["Chhattisgarh"],
    "COASTAL ANDHRA PRADESH": ["Andhra Pradesh"],
    "TELANGANA": ["Telangana"],
    "RAYALSEEMA": ["Andhra Pradesh"],
    "TAMIL NADU": ["Tamil Nadu"],
    "COASTAL KARNATAKA": ["Karnataka"],
    "NORTH INTERIOR KARNATAKA": ["Karnataka"],
    "SOUTH INTERIOR KARNATAKA": ["Karnataka"],
    "KERALA": ["Kerala"],
    "LAKSHADWEEP": ["Lakshadweep"]
}

In [38]:
mapping = {k.title() if isinstance(k, str) else k: v for k, v in mapping.items()}
# mapping

In [39]:
expanded_rows = []
for _, row in rain_df.iterrows():
    states = mapping.get(row["Subdivision"], [])
    for st in states:
        new_row = row.copy()
        new_row["State_rainfall"] = st
        expanded_rows.append(new_row)

rain_expanded = pd.DataFrame(expanded_rows)

In [40]:
rain_expanded[(rain_expanded.State_rainfall == 'Karnataka') & (rain_expanded.Year == 1997)]

,Subdivision,Year,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain,State_rainfall
651,Coastal Karnataka,1997,0.7,0.0,14.9,21.5,23.1,818.6,1494.1,1146.0,117.1,148.5,109.8,59.2,3953.6,0.7,59.5,3575.8,317.5,Karnataka
672,North Interior Karnataka,1997,4.3,0.0,14.8,22.6,17.5,213.0,272.8,290.1,76.9,85.3,64.6,33.8,1095.6,4.3,54.9,852.7,183.7,Karnataka
693,South Interior Karnataka,1997,4.9,0.1,26.2,26.0,45.3,178.9,251.7,246.8,108.4,134.4,123.8,33.6,1180.0,4.9,97.5,785.8,291.8,Karnataka

In [41]:
rain_expanded.State_rainfall.unique()

array(['Andaman and Nicobar Islands', 'Arunachal Pradesh', 'Assam',
       'Meghalaya', 'Nagaland', 'Manipur', 'Mizoram', 'Tripura',
       'West Bengal', 'Sikkim', 'Odisha', 'Jharkhand', 'Bihar',
       'Uttar Pradesh', 'Uttarakhand', 'Haryana', 'Delhi', 'Chandigarh',
       'Punjab', 'Himachal Pradesh', 'Jammu and Kashmir', 'Rajasthan',
       'Madhya Pradesh', 'Gujarat', 'Goa', 'Maharashtra', 'Chhattisgarh',
       'Andhra Pradesh', 'Telangana', 'Tamil Nadu', 'Karnataka', 'Kerala',
       'Lakshadweep'], dtype=object)

In [42]:
# subdivision wise detail should be aggregated

# identify all rain columns
rain_cols= [col for col in rain_expanded.columns if '_rain' in col.lower()]
rain_cols.remove('State_rainfall')

# aggregate rainfall subdivision-wise to State level

rain_statewise = (
        rain_expanded
        .groupby(['State_rainfall', 'Year'], as_index= False)[rain_cols]
        .sum()
      )

In [43]:
# rain_cols = [col for col in rain_cols if col != 'State%']
rain_statewise[(rain_statewise.State_rainfall == 'Karnataka') & (rain_statewise.Year == 1997)]

,State_rainfall,Year,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
294,Karnataka,1997,9.9,0.1,55.9,70.1,85.9,1210.5,2018.6,1682.9,302.4,368.2,298.2,126.6,6229.2,9.9,211.9,5214.3,793.0

In [44]:
rain_statewise.columns

Index(['State_rainfall', 'Year', 'JAN_rain', 'FEB_rain', 'MAR_rain',
       'APR_rain', 'MAY_rain', 'JUN_rain', 'JUL_rain', 'AUG_rain', 'SEP_rain',
       'OCT_rain', 'NOV_rain', 'DEC_rain', 'ANNUAL_rain', 'Jan-Feb_rain',
       'Mar-May_rain', 'Jun-Sep_rain', 'Oct-Dec_rain'],
      dtype='object')

In [45]:
rain_statewise.State_rainfall.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal'], dtype=object)

In [46]:
data = pd.merge(
    data,
    rain_statewise,
    left_on= ['State', 'Crop_Year'],
    right_on=["State_rainfall", "Year"],
    how="left"
    ).drop(columns= ['Year', 'State_rainfall'])
    # ).drop(columns= ['Subdivision', 'Year', 'State_rainfall'])

# Annual_Rainfall
# ANNUAL_rain

In [47]:
data[data.Crop_Year == 2017]

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual_mean_temp,Apr_temp,Aug_temp,Dec_temp,Feb_temp,Jan_temp,Jul_temp,Jun_temp,Mar_temp,May_temp,Monsoon_temp,Nov_temp,Oct_temp,Post_Monsoon_temp,Sep_temp,Summer_temp,Winter_temp,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
5069,Arecanut,2017,Kharif,Andhra Pradesh,697.0,4369,868.2,109735.68,264.86,5.582500,India,red and yellow,28.29,32.70,28.32,23.63,26.48,23.80,28.85,30.57,29.47,33.65,29.11,25.39,27.94,25.65,28.68,31.94,25.14,4.9,0.0,25.2,17.6,70.7,238.5,205.4,395.8,336.4,344.1,80.0,8.6,1727.2,4.9,113.5,1176.0,432.7
5070,Arhar/Tur,2017,Kharif,Andhra Pradesh,275367.0,116695,868.2,43353780.48,104639.46,0.567692,India,red and yellow,28.29,32.70,28.32,23.63,26.48,23.80,28.85,30.57,29.47,33.65,29.11,25.39,27.94,25.65,28.68,31.94,25.14,4.9,0.0,25.2,17.6,70.7,238.5,205.4,395.8,336.4,344.1,80.0,8.6,1727.2,4.9,113.5,1176.0,432.7
5071,Arhar/Tur,2017,Rabi,Andhra Pradesh,4148.0,3394,868.2,653061.12,1576.24,0.550000,India,red and yellow,28.29,32.70,28.32,23.63,26.48,23.80,28.85,30.57,29.47,33.65,29.11,25.39,27.94,25.65,28.68,31.94,25.14,4.9,0.0,25.2,17.6,70.7,238.5,205.4,395.8,336.4,344.1,80.0,8.6,1727.2,4.9,113.5,1176.0,432.7
5072,Bajra,2017,Kharif,Andhra Pradesh,43367.0,82916,868.2,6827700.48,16479.46,1.854545,India,red and yellow,28.29,32.70,28.32,23.63,26.48,23.80,28.85,30.57,29.47,33.65,29.11,25.39,27.94,25.65,28.68,31.94,25.14,4.9,0.0,25.2,17.6,70.7,238.5,205.4,395.8,336.4,344.1,80.0,8.6,1727.2,4.9,113.5,1176.0,432.7
5073,Bajra,2017,Rabi,Andhra Pradesh,4990.0,10252,868.2,785625.60,1896.20,1.833333,India,red and yellow,28.29,32.70,28.32,23.63,26.48,23.80,28.85,30.57,29.47,33.65,29.11,25.39,27.94,25.65,28.68,31.94,25.14,4.9,0.0,25.2,17.6,70.7,238.5,205.4,395.8,336.4,344.1,80.0,8.6,1727.2,4.9,113.5,1176.0,432.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19647,Sugarcane,2017,Winter,Odisha,3713.0,240245,1344.4,584574.72,1410.94,56.588000,India,red,26.25,30.09,27.44,20.50,23.25,20.41,27.26,30.00,26.24,31.90,28.16,23.36,26.60,23.49,27.94,29.41,21.83,1.7,0.0,29.8,8.7,55.2,209.5,349.7,301.7,192.2,161.1,30.0,4.8,1344.5,1.7,93.8,1053.1,195.9
19648,Urad,2017,Autumn,Odisha,20431.0,6410,1344.4,3216656.64,7763.78,0.372308,India,red,26.25,30.09,27.44,20.50,23.25,20.41,27.26,30.00,26.24,31.90,28.16,23.36,26.60,23.49,27.94,29.41,21.83,1.7,0.0,29.8,8.7,55.2,209.5,349.7,301.7,192.2,161.1,30.0,4.8,1344.5,1.7,93.8,1053.1,195.9
19649,Urad,2017,Summer,Odisha,13987.0,6963,1344.4,2202113.28,5315.06,0.413333,India,red,26.25,30.09,27.44,20.50,23.25,20.41,27.26,30.00,26.24,31.90,28.16,23.36,26.60,23.49,27.94,29.41,21.83,1.7,0.0,29.8,8.7,55.2,209.5,349.7,301.7,192.2,161.1,30.0,4.8,1344.5,1.7,93.8,1053.1,195.9
19650,Urad,2017,Winter,Odisha,42760.0,15322,1344.4,6732134.40,16248.80,0.382414,India,red,26.25,30.09,27.44,20.50,23.25,20.41,27.26,30.00,26.24,31.90,28.16,23.36,26.60,23.49,27.94,29.41,21.83,1.7,0.0,29.8,8.7,55.2,209.5,349.7,301.7,192.2,161.1,30.0,4.8,1344.5,1.7,93.8,1053.1,195.9
19651,Wheat,2017,Summer,Odisha,73.0,158,1344.4,11493.12,27.74,2.387143,India,red,26.25,30.09,27.44,20.50,23.25,20.41,27.26,30.00,26.24,31.90,28.16,23.36,26.60,23.49,27.94,29.41,21.83,1.7,0.0,29.8,8.7,55.2,209.5,349.7,301.7,192.2,161.1,30.0,4.8,1344.5,1.7,93.8,1053.1,195.9

In [48]:
data[data['Annual_Rainfall'] != data['ANNUAL_rain']]

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual_mean_temp,Apr_temp,Aug_temp,Dec_temp,Feb_temp,Jan_temp,Jul_temp,Jun_temp,Mar_temp,May_temp,Monsoon_temp,Nov_temp,Oct_temp,Post_Monsoon_temp,Sep_temp,Summer_temp,Winter_temp,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000,India,red,19.37,19.44,22.98,14.60,14.53,12.37,22.76,22.94,16.07,22.30,22.98,18.51,22.77,18.63,23.24,19.27,13.45,28.1,31.6,136.4,164.6,352.2,297.6,480.6,367.3,222.3,97.9,46.5,0.3,2225.4,59.7,653.2,1367.9,144.7
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000,India,red,19.37,19.44,22.98,14.60,14.53,12.37,22.76,22.94,16.07,22.30,22.98,18.51,22.77,18.63,23.24,19.27,13.45,28.1,31.6,136.4,164.6,352.2,297.6,480.6,367.3,222.3,97.9,46.5,0.3,2225.4,59.7,653.2,1367.9,144.7
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000,India,alluvial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,55.6,164.1,144.5,89.1,81.2,126.6,270.2,75.4,77.3,84.3,59.2,1295.9,124.0,397.7,553.4,220.8
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667,India,alluvial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,55.6,164.1,144.5,89.1,81.2,126.6,270.2,75.4,77.3,84.3,59.2,1295.9,124.0,397.7,553.4,220.8
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818,India,alluvial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,55.6,164.1,144.5,89.1,81.2,126.6,270.2,75.4,77.3,84.3,59.2,1295.9,124.0,397.7,553.4,220.8

In [49]:
# Update annual rainfall from rain_expanded incase different

data['Annual_Rainfall'] = data['ANNUAL_rain'].combine_first(data['Annual_Rainfall'])
data.drop(columns=['ANNUAL_rain'], inplace= True)

In [50]:
# data.sample(5)
data[data.State == 'Kerala'].sample(5)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual_mean_temp,Apr_temp,Aug_temp,Dec_temp,Feb_temp,Jan_temp,Jul_temp,Jun_temp,Mar_temp,May_temp,Monsoon_temp,Nov_temp,Oct_temp,Post_Monsoon_temp,Sep_temp,Summer_temp,Winter_temp,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
378,Coconut,1999,Whole Year,Kerala,925035.0,5680000000,2914.6,98173964.55,249759.45,5581.025714,India,laterite,26.31,28.40,25.69,25.41,26.75,25.32,25.10,25.66,28.21,26.87,25.69,26.02,25.95,25.79,26.32,27.83,26.04,1.8,23.8,21.4,111.6,453.2,607.3,700.4,266.3,88.0,567.9,68.1,4.9,25.5,586.2,1661.9,640.9
2672,Cotton(lint),2008,Kharif,Kerala,1152.0,1498,2524.5,164782.08,103.68,1.300000,India,laterite,26.38,27.89,25.46,25.88,26.57,25.79,25.46,26.08,26.93,28.01,25.76,26.23,26.26,26.12,26.02,27.61,26.18,0.8,30.3,217.2,108.4,81.2,469.9,505.1,349.0,347.0,343.4,55.4,17.0,31.1,406.7,1670.9,415.7
5359,Wheat,2017,Whole Year,Kerala,1.0,1,2664.9,157.44,0.38,1.000000,India,laterite,26.90,29.51,25.95,26.06,26.64,25.94,26.26,26.42,28.18,28.35,26.20,26.40,26.89,26.45,26.15,28.68,26.29,12.7,0.3,87.8,52.8,213.3,579.8,378.5,462.6,435.5,228.0,152.1,61.4,13.0,353.9,1856.5,441.5
2685,Tapioca,2008,Whole Year,Kerala,87241.0,2712114,2524.5,12478952.64,7851.69,31.641429,India,laterite,26.38,27.89,25.46,25.88,26.57,25.79,25.46,26.08,26.93,28.01,25.76,26.23,26.26,26.12,26.02,27.61,26.18,0.8,30.3,217.2,108.4,81.2,469.9,505.1,349.0,347.0,343.4,55.4,17.0,31.1,406.7,1670.9,415.7
5347,Potato,2017,Whole Year,Kerala,516.0,7303,2664.9,81239.04,196.08,14.150000,India,laterite,26.90,29.51,25.95,26.06,26.64,25.94,26.26,26.42,28.18,28.35,26.20,26.40,26.89,26.45,26.15,28.68,26.29,12.7,0.3,87.8,52.8,213.3,579.8,378.5,462.6,435.5,228.0,152.1,61.4,13.0,353.9,1856.5,441.5

**Final Dataset**

In [51]:
# del data

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Crop               19689 non-null  object
 1   Crop_Year          19689 non-null  int64
 2   Season             19689 non-null  object
 3   State              19689 non-null  object
 4   Area               19689 non-null  float64
 5   Production         19689 non-null  int64
 6   Annual_Rainfall    19689 non-null  float64
 7   Fertilizer         19689 non-null  float64
 8   Pesticide          19689 non-null  float64
 9   Yield              19689 non-null  float64
 10  Country            19689 non-null  object
 11  Soil_type          19689 non-null  object
 12  Annual_mean_temp   18661 non-null  float64
 13  Apr_temp           18661 non-null  float64
 14  Aug_temp           18661 non-null  float64
 15  Dec_temp           18661 non-null  float64
 16  Feb_temp           18661 non-null  float64
 17  Jan_temp           18661 non-null  float64
 18  Jul_temp           18661 non-null  float64
 19  Jun_temp           18661 non-null  float64
 20  Mar_temp           18661 non-null  float64
 21  May_temp           18661 non-null  float64
 22  Monsoon_temp       18661 non-null  float64
 23  Nov_temp           18661 non-null  float64
 24  Oct_temp           18661 non-null  float64
 25  Post_Monsoon_temp  18661 non-null  float64
 26  Sep_temp           18661 non-null  float64
 27  Summer_temp        18661 non-null  float64
 28  Winter_temp        18661 non-null  float64
 29  JAN_rain           16923 non-null  float64
 30  FEB_rain           16923 non-null  float64
 31  MAR_rain           16923 non-null  float64
 32  APR_rain           16923 non-null  float64
 33  MAY_rain           16923 non-null  float64
 34  JUN_rain           16923 non-null  float64
 35  JUL_rain           16923 non-null  float64
 36  AUG_rain           16923 non-null  float64
 37  SEP_rain           16923 non-null  float64
 38  OCT_rain           16923 non-null  float64
 39  NOV_rain           16923 non-null  float64
 40  DEC_rain           16923 non-null  float64
 41  Jan-Feb_rain       16923 non-null  float64
 42  Mar-May_rain       16923 non-null  float64
 43  Jun-Sep_rain       16923 non-null  float64
 44  Oct-Dec_rain       16923 non-null  float64
dtypes: float64(38), int64(2), object(5)
memory usage: 6.8+ MB

In [54]:
data.to_csv('crop_yield_main.csv')

In [53]:
# data.Crop_Year.unique()
# del data