<a href="https://colab.research.google.com/github/ManjuVijayakumar/ICTAK_DSA_FinalProject/blob/main/Crop_prediction_Regression_file_DSA_June25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# importing necessary libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

# Display all columns
pd.set_option('display.max_columns', None)

In [10]:
# Reading crop_yield file

url = 'https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/crop_yield.csv'
data= pd.read_csv(url)
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [11]:
# Unique States
data.State.unique()

array(['Assam', 'Karnataka', 'Kerala', 'Meghalaya', 'West Bengal',
       'Puducherry', 'Goa', 'Andhra Pradesh', 'Tamil Nadu', 'Odisha',
       'Bihar', 'Gujarat', 'Madhya Pradesh', 'Maharashtra', 'Mizoram',
       'Punjab', 'Uttar Pradesh', 'Haryana', 'Himachal Pradesh',
       'Tripura', 'Nagaland', 'Chhattisgarh', 'Uttarakhand', 'Jharkhand',
       'Delhi', 'Manipur', 'Jammu and Kashmir', 'Telangana',
       'Arunachal Pradesh', 'Sikkim'], dtype=object)

In [12]:
data.State.nunique()
# 30 states

30

**Merging Soil Data**

In [13]:
soil_df = pd.read_csv('https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/soil.csv')
soil_df.head()

            State       Soil_type
0       Telangana  red and yellow
1  Andhra Pradesh  red and yellow
2           Assam        alluvial
3           Bihar        alluvial
4       Karnataka           black

In [14]:
soil_df.State.nunique()

31

In [15]:
soil_df.State.unique()

array(['Telangana', 'Andhra Pradesh', 'Assam', 'Bihar', 'Karnataka',
       'Tamil Nadu', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jharkhand', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tripura',
       'Uttar Pradesh', 'West Bengal', 'Arunachal Pradesh', 'Delhi',
       'Jammu and Kashmir', 'Puducherry', 'Uttarakhand'], dtype=object)

In [16]:
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [17]:
data['Country'] = 'India'
data.sample(2)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country
8735,Barley,2003,Rabi,Uttar Pradesh,233928.0,516818,1075.6,23154193.44,56142.72,2.085143,India
6380,Jowar,1998,Kharif,Bihar,2635.0,2477,1332.5,260338.00,764.15,0.970000,India

In [18]:
# Verifying any mismatches in the State column
set1 = set(data.State)
set2 = set(soil_df.State)

set1 & set2

{'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal'}

In [19]:
set1 - set2

set()

In [20]:
set2 - set1

{'Rajasthan'}

In [ ]:
# Data corrections done
# Need to merge soil type to main dataframe - data

In [21]:
# Copy of main dataframe
data = data.copy()

In [22]:
# Left join

data= pd.merge(data, soil_df, on='State', how= 'left')
data.sample(4)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type
17787,Peas & beans (Pulses),2006,Rabi,Jammu and Kashmir,821.0,763,1786.5,104849.91,180.62,0.846,India,alluvial
8792,Sugarcane,2003,Whole Year,Uttarakhand,116877.0,7023220,1734.3,11568485.46,28050.48,58.120,India,alluvial
19197,Turmeric,2015,Whole Year,Arunachal Pradesh,800.0,3840,2593.2,126328.00,264.00,4.782,India,red
1721,Castor seed,2005,Kharif,Assam,1364.0,577,2184.6,163570.88,286.44,0.422,India,alluvial

In [23]:
data.shape

(19689, 12)

**Merging Temperature Data**

In [24]:
url = 'https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/Mean%20Temperature%20Data%201997_2020.csv'
temp_df= pd.read_csv(url)
temp_df.sample(3)

,States,Period,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
92,Chandigarh,Aug,28.00,29.00,28.80,28.80,29.3,29.20,28.60,28.50,29.50,28.80,29.40,28.10,29.80,28.60,28.70,28.70,28.60,29.40,28.90,28.80,29.40,29.40,29.00,29.60
306,Lakshadweep,Jan,27.30,28.40,27.10,27.30,27.7,27.70,27.70,27.70,27.80,27.10,27.70,27.50,27.40,27.90,27.40,27.40,27.80,27.60,27.60,28.20,27.60,27.40,27.50,28.40
252,India,Summer,26.72,27.73,28.07,27.69,27.7,28.37,27.82,28.51,27.52,27.53,28.08,27.83,28.37,29.27,27.71,27.86,27.95,27.28,27.37,28.57,28.24,28.22,27.98,27.42

In [25]:
data.sample()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type
18391,Turmeric,2019,Kharif,Jammu and Kashmir,4.0,4,1324.1,687.04,1.48,1.0,India,alluvial

In [26]:
# Pivoting temperature dataset

temp_df_long = temp_df.melt(
    id_vars = ['States', 'Period'],
    var_name = 'Year',
    value_name = 'Temperature'
)

In [27]:
type(temp_df_long)

pandas.core.frame.DataFrame

In [28]:
temp_df_long.sample(3)

              States   Period  Year  Temperature
1864           Bihar      Dec  2000        18.15
9127         Gujarat  Monsoon  2012        29.55
3313  Madhya Pradesh  Monsoon  2002        28.61

In [29]:
temp_df_long.Period.unique()

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'Annual', 'Winter', 'Summer', 'Monsoon',
       'Post Monsoon'], dtype=object)

In [30]:
# Period (like Annual, Summer, Winter) to become its own column

temp_df_pivot = temp_df_long.pivot(
    index=['States', 'Year'],
    columns='Period',
    values='Temperature'
).reset_index()

In [31]:
temp_df_pivot.sample(5)

Period,States,Year,Annual,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Monsoon,Nov,Oct,Post Monsoon,Sep,Summer,Winter
281,Gujarat,2014,27.28,30.32,28.72,21.24,21.84,19.46,29.94,32.98,26.41,32.25,30.01,26.47,29.28,25.66,28.40,29.66,20.65
329,Himachal Pradesh,2014,9.91,10.23,17.57,1.93,0.74,0.18,18.19,17.86,5.41,13.67,17.17,6.60,11.51,6.68,15.04,9.77,0.46
459,Madhya Pradesh,2000,25.81,32.14,27.38,18.86,19.52,18.47,27.37,30.81,25.00,32.72,28.18,23.07,27.26,23.06,27.14,29.95,19.00
626,Puducherry,1999,28.27,29.88,29.24,25.71,26.75,25.25,29.49,30.14,28.60,30.26,29.49,26.91,27.87,26.83,29.07,29.58,26.00
292,Haryana,2001,25.28,28.42,30.17,16.61,18.04,13.62,30.36,32.13,22.75,33.15,30.53,21.34,27.33,21.76,29.47,28.11,15.83

In [32]:
# Merging the temperature dataframe to main dataframe

# A few states and 2021 data not available in the temp df

In [ ]:
temp_df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   States        840 non-null    object
 1   Year          840 non-null    object
 2   Annual        840 non-null    float64
 3   Apr           840 non-null    float64
 4   Aug           840 non-null    float64
 5   Dec           840 non-null    float64
 6   Feb           840 non-null    float64
 7   Jan           840 non-null    float64
 8   Jul           840 non-null    float64
 9   Jun           840 non-null    float64
 10  Mar           840 non-null    float64
 11  May           840 non-null    float64
 12  Monsoon       840 non-null    float64
 13  Nov           840 non-null    float64
 14  Oct           840 non-null    float64
 15  Post Monsoon  840 non-null    float64
 16  Sep           840 non-null    float64
 17  Summer        840 non-null    float64
 18  Winter        840 non-null    float64
dtypes: float64(17), object(2)
memory usage: 124.8+ KB

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
 10  Country          19689 non-null  object
 11  Soil_type        19689 non-null  object
dtypes: float64(5), int64(2), object(5)
memory usage: 1.8+ MB

In [33]:
temp_df_pivot['Year'] = temp_df_pivot['Year'].astype(int)

In [34]:
data = pd.merge(
    data,
    temp_df_pivot,
    left_on= ['State', 'Crop_Year'],
    right_on= ['States', 'Year'],
    how= 'left'
).drop(columns=['States', 'Year'])

In [35]:
data.sample(3)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Monsoon,Nov,Oct,Post Monsoon,Sep,Summer,Winter
4103,Sesamum,2013,Kharif,Tamil Nadu,19500.0,10879,740.9,2817555.00,5265.00,0.509630,India,red and yellow,27.70,30.48,27.83,25.11,26.55,25.52,27.79,28.62,28.38,30.54,27.99,26.38,27.50,26.33,27.73,29.80,26.04
223,Potato,1998,Rabi,Karnataka,4173.0,82124,1260.8,412292.40,1210.17,18.907143,India,black,26.48,30.57,25.57,22.76,26.17,24.56,25.88,27.91,28.52,30.51,26.22,24.41,25.40,24.19,25.50,29.87,25.37
404,Maize,1999,Kharif,Meghalaya,16637.0,24051,6200.3,1765684.81,4491.99,1.448571,India,alluvial,22.26,24.86,24.97,17.13,19.15,15.68,24.91,25.21,22.17,23.85,24.98,20.49,23.83,20.48,24.82,23.63,17.42

In [36]:
data.columns

Index(['Crop', 'Crop_Year', 'Season', 'State', 'Area', 'Production',
       'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield', 'Country',
       'Soil_type', 'Annual', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun',
       'Mar', 'May', 'Monsoon', 'Nov', 'Oct', 'Post Monsoon', 'Sep', 'Summer',
       'Winter'],
      dtype='object')

In [37]:
data= data.rename(columns= {
    'Annual' : 'Annual_temp',
    'Apr' : 'Apr_temp',
    'Aug' : 'Aug_temp',
    'Dec' : 'Dec_temp',
    'Feb' : 'Feb_temp',
    'Jan' : 'Jan_temp',
    'Jul' : 'Jul_temp',
    'Jun' : 'Jun_temp',
     'Mar' : 'Mar_temp',
    'May' : 'May_temp',
    'Monsoon' : 'Monsoon_temp',
    'Nov' : 'Nov_temp',
    'Oct' : 'Oct_temp',
    'Post Monsoon' : 'Post_Monsoon_temp',
    'Sep' : 'Sep_temp',
    'Summer' : 'Summer_temp',
    'Winter' : 'Winter_temp'
})

In [38]:
data.sample(5)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual_temp,Apr_temp,Aug_temp,Dec_temp,Feb_temp,Jan_temp,Jul_temp,Jun_temp,Mar_temp,May_temp,Monsoon_temp,Nov_temp,Oct_temp,Post_Monsoon_temp,Sep_temp,Summer_temp,Winter_temp
11201,Moong(Green Gram),2009,Kharif,Nagaland,620.0,560,1225.9,96608.40,105.40,0.897273,India,red,20.08,20.51,23.69,14.31,16.14,14.46,24.07,23.71,17.79,22.19,23.84,18.08,22.08,18.16,23.87,20.16,15.30
4656,Arhar/Tur,2015,Whole Year,Kerala,1431.0,1845,2602.9,225969.21,472.23,1.193333,India,laterite,26.74,28.18,26.21,26.39,26.60,25.84,26.11,26.42,27.95,27.86,26.29,26.18,26.70,26.42,26.41,28.00,26.22
1867,Bajra,2005,Kharif,Tamil Nadu,81925.0,94799,1364.1,9824446.00,17204.25,1.314400,India,red and yellow,27.64,29.34,28.48,24.73,26.76,25.49,28.40,29.56,28.65,30.33,28.59,25.06,27.02,25.60,27.91,29.44,26.13
10154,Ginger,2007,Whole Year,Chhattisgarh,1836.0,2037,1246.2,244922.40,293.76,1.184706,India,red and yellow,26.28,31.45,27.01,20.26,22.58,19.89,27.40,30.67,26.67,33.67,28.11,22.80,25.67,22.91,27.35,30.60,21.24
17381,Castor seed,1999,Kharif,Andhra Pradesh,264061.0,58353,650.4,28024793.93,71296.47,0.212632,India,red and yellow,27.63,32.36,27.90,22.73,26.45,22.73,28.32,29.98,29.57,32.01,28.46,24.82,27.08,24.88,27.65,31.31,24.59

In [ ]:
# data.to_csv('crop_yield_main.csv')

**Merging Rainfall Data**

In [39]:
rain_df = pd.read_csv('https://raw.githubusercontent.com/ManjuVijayakumar/ICTAK_DSA_FinalProject/refs/heads/main/Sub_Division_IMD_1997_2017.csv')
rain_df.sample(3)

,SUBDIVISION,YEAR,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
582,COASTAL ANDHRA PRADESH,2012,37.6,0.0,2.7,24.0,39.3,95.4,221.9,221.2,246.5,140.0,289.7,0.0,1318.4,37.6,66.1,785.0,429.7
709,SOUTH INTERIOR KARNATAKA,2013,0.5,10.1,11.7,34.6,95.6,176.2,307.4,151.7,191.8,103.7,24.9,2.4,1110.7,10.6,142.0,827.1,131.0
90,SUB HIMALAYAN WEST BENGAL & SIKKIM,2003,17.0,79.2,90.1,171.4,211.7,516.6,703.0,354.0,321.4,223.0,16.4,19.2,2723.3,96.3,473.3,1895.1,258.7

In [40]:
rain_df = rain_df.rename(columns={"SUBDIVISION": "Subdivision", "YEAR": "Year"})

In [41]:
mapping = {
    "ANDAMAN & NICOBAR ISLANDS": ["Andaman and Nicobar Islands"],
    "ARUNACHAL PRADESH": ["Arunachal Pradesh"],
    "ASSAM & MEGHALAYA": ["Assam", "Meghalaya"],
    "NAGA MANI MIZO TRIPURA": ["Nagaland", "Manipur", "Mizoram", "Tripura"],
    "SUB HIMALAYAN WEST BENGAL & SIKKIM": ["West Bengal", "Sikkim"],
    "GANGETIC WEST BENGAL": ["West Bengal"],
    "ORISSA": ["Odisha"],
    "JHARKHAND": ["Jharkhand"],
    "BIHAR": ["Bihar"],
    "EAST UTTAR PRADESH": ["Uttar Pradesh"],
    "WEST UTTAR PRADESH": ["Uttar Pradesh"],
    "UTTARAKHAND": ["Uttarakhand"],
    "HARYANA DELHI & CHANDIGARH": ["Haryana", "Delhi", "Chandigarh"],
    "PUNJAB": ["Punjab"],
    "HIMACHAL PRADESH": ["Himachal Pradesh"],
    "JAMMU & KASHMIR": ["Jammu and Kashmir"],
    "WEST RAJASTHAN": ["Rajasthan"],
    "EAST RAJASTHAN": ["Rajasthan"],
    "WEST MADHYA PRADESH": ["Madhya Pradesh"],
    "EAST MADHYA PRADESH": ["Madhya Pradesh"],
    "GUJARAT REGION": ["Gujarat"],
    "SAURASHTRA & KUTCH": ["Gujarat"],
    "KONKAN & GOA": ["Goa", "Maharashtra"],
    "MADHYA MAHARASHTRA": ["Maharashtra"],
    "MATATHWADA": ["Maharashtra"],
    "VIDARBHA": ["Maharashtra"],
    "CHHATTISGARH": ["Chhattisgarh"],
    "COASTAL ANDHRA PRADESH": ["Andhra Pradesh"],
    "TELANGANA": ["Telangana"],
    "RAYALSEEMA": ["Andhra Pradesh"],
    "TAMIL NADU": ["Tamil Nadu"],
    "COASTAL KARNATAKA": ["Karnataka"],
    "NORTH INTERIOR KARNATAKA": ["Karnataka"],
    "SOUTH INTERIOR KARNATAKA": ["Karnataka"],
    "KERALA": ["Kerala"],
    "LAKSHADWEEP": ["Lakshadweep"]
}

In [42]:
rain_df.head(2)

,Subdivision,Year,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
0,ANDAMAN & NICOBAR ISLANDS,1997,9.5,0.0,0.2,15.6,281.1,199.5,918.5,430.6,440.2,128.7,292.8,38.4,2755.1,9.5,296.9,1988.8,459.9
1,ANDAMAN & NICOBAR ISLANDS,1998,0.9,0.0,0.0,0.0,348.9,600.0,364.5,258.9,337.8,618.6,227.8,89.0,2846.4,0.9,348.9,1561.2,935.4

In [43]:
expanded_rows = []
for _, row in rain_df.iterrows():
    states = mapping.get(row["Subdivision"], [])
    for st in states:
        new_row = row.copy()
        new_row["State_rainfall"] = st
        expanded_rows.append(new_row)

rain_expanded = pd.DataFrame(expanded_rows)

In [44]:
rain_expanded.head(3)

,Subdivision,Year,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain,State_rainfall
0,ANDAMAN & NICOBAR ISLANDS,1997,9.5,0.0,0.2,15.6,281.1,199.5,918.5,430.6,440.2,128.7,292.8,38.4,2755.1,9.5,296.9,1988.8,459.9,Andaman and Nicobar Islands
1,ANDAMAN & NICOBAR ISLANDS,1998,0.9,0.0,0.0,0.0,348.9,600.0,364.5,258.9,337.8,618.6,227.8,89.0,2846.4,0.9,348.9,1561.2,935.4,Andaman and Nicobar Islands
2,ANDAMAN & NICOBAR ISLANDS,1999,46.8,44.6,14.2,270.6,257.4,295.0,408.5,329.2,325.3,437.5,124.9,145.7,2699.7,91.4,542.2,1358.0,708.1,Andaman and Nicobar Islands

In [45]:
data = pd.merge(
    data,
    rain_expanded,
    left_on= ['State', 'Crop_Year'],
    right_on=["State_rainfall", "Year"],
    how="left"
    ).drop(columns= ['Subdivision', 'Year', 'State_rainfall'])

# Annual_Rainfall
# ANNUAL_rain

In [ ]:
data[data['Annual_Rainfall'] != data['ANNUAL_rain']]

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual_temp,Apr_temp,Aug_temp,Dec_temp,Feb_temp,Jan_temp,Jul_temp,Jun_temp,Mar_temp,May_temp,Monsoon_temp,Nov_temp,Oct_temp,Post_Monsoon_temp,Sep_temp,Summer_temp,Winter_temp,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,ANNUAL_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909,India,alluvial,22.54,22.19,27.55,16.67,16.84,15.53,27.16,26.37,21.93,25.28,26.78,21.11,23.88,20.55,26.02,23.13,16.19,18.2,40.7,91.8,131.9,241.8,569.9,511.2,315.5,366.8,36.4,12.6,35.4,2372.2,58.9,465.6,1763.4,84.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28735,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000,India,red,19.37,19.44,22.98,14.60,14.53,12.37,22.76,22.94,16.07,22.30,22.98,18.51,22.77,18.63,23.24,19.27,13.45,28.1,31.6,136.4,164.6,352.2,297.6,480.6,367.3,222.3,97.9,46.5,0.3,2225.4,59.7,653.2,1367.9,144.7
28736,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000,India,red,19.37,19.44,22.98,14.60,14.53,12.37,22.76,22.94,16.07,22.30,22.98,18.51,22.77,18.63,23.24,19.27,13.45,28.1,31.6,136.4,164.6,352.2,297.6,480.6,367.3,222.3,97.9,46.5,0.3,2225.4,59.7,653.2,1367.9,144.7
28737,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000,India,alluvial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,55.6,164.1,144.5,89.1,81.2,126.6,270.2,75.4,77.3,84.3,59.2,1295.9,124.0,397.7,553.4,220.8
28738,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667,India,alluvial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,55.6,164.1,144.5,89.1,81.2,126.6,270.2,75.4,77.3,84.3,59.2,1295.9,124.0,397.7,553.4,220.8
28739,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818,India,alluvial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,55.6,164.1,144.5,89.1,81.2,126.6,270.2,75.4,77.3,84.3,59.2,1295.9,124.0,397.7,553.4,220.8

In [46]:
# Update annual rainfall from rain_expanded incase different

data['Annual_Rainfall'] = data['ANNUAL_rain'].combine_first(data['Annual_Rainfall'])
data.drop(columns=['ANNUAL_rain'], inplace= True)

In [47]:
# data.sample(5)
data[data.State == 'Kerala'].sample(5)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,Country,Soil_type,Annual_temp,Apr_temp,Aug_temp,Dec_temp,Feb_temp,Jan_temp,Jul_temp,Jun_temp,Mar_temp,May_temp,Monsoon_temp,Nov_temp,Oct_temp,Post_Monsoon_temp,Sep_temp,Summer_temp,Winter_temp,JAN_rain,FEB_rain,MAR_rain,APR_rain,MAY_rain,JUN_rain,JUL_rain,AUG_rain,SEP_rain,OCT_rain,NOV_rain,DEC_rain,Jan-Feb_rain,Mar-May_rain,Jun-Sep_rain,Oct-Dec_rain
3712,Sesamum,2006,Kharif,Kerala,732.0,294,3420.6,93483.72,161.04,0.397000,India,laterite,26.55,28.80,25.75,25.85,26.40,25.44,25.83,26.32,27.93,27.78,26.01,26.17,26.13,26.05,26.14,28.17,25.92,8.1,0.5,90.7,65.3,521.2,482.4,804.0,432.6,474.8,376.4,162.8,1.8,8.6,677.2,2193.8,541.0
2376,Black pepper,2003,Whole Year,Kerala,216440.0,69015,2394.9,21423231.20,51945.60,0.222857,India,laterite,26.78,28.69,25.99,25.69,27.05,25.87,25.61,26.89,27.95,28.52,26.28,26.01,26.45,26.05,26.64,28.39,26.46,0.7,50.9,82.1,134.4,91.0,566.7,532.0,350.3,93.6,407.0,76.4,9.7,51.6,307.5,1542.6,493.1
1902,Rice,2002,Summer,Kerala,41079.0,111850,2507.4,3888948.93,10269.75,2.212143,India,laterite,26.74,28.78,25.79,25.55,26.64,25.95,26.26,26.41,28.13,28.23,26.32,26.00,26.31,25.95,26.82,28.38,26.30,4.7,8.7,35.7,117.3,330.8,503.1,318.7,438.2,99.0,511.7,137.5,2.1,13.3,483.7,1359.0,651.3
646,Tapioca,1999,Whole Year,Kerala,111922.0,2531752,2914.6,11878281.86,30218.94,24.257857,India,laterite,26.31,28.40,25.69,25.41,26.75,25.32,25.10,25.66,28.21,26.87,25.69,26.02,25.95,25.79,26.32,27.83,26.04,1.8,23.8,21.4,111.6,453.2,607.3,700.4,266.3,88.0,567.9,68.1,4.9,25.5,586.2,1661.9,640.9
4113,Groundnut,2007,Kharif,Kerala,2911.0,2154,3489.6,388327.40,465.76,0.870000,India,laterite,26.53,28.70,25.53,25.60,26.62,26.01,25.54,26.12,28.02,28.28,25.76,25.94,26.12,25.89,25.85,28.33,26.32,0.5,5.6,7.3,138.5,192.7,705.9,966.3,489.6,526.7,357.2,87.4,11.9,6.1,338.4,2688.5,456.5

**Final Dataset**

In [49]:
# del data

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28740 entries, 0 to 28739
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Crop               28740 non-null  object
 1   Crop_Year          28740 non-null  int64
 2   Season             28740 non-null  object
 3   State              28740 non-null  object
 4   Area               28740 non-null  float64
 5   Production         28740 non-null  int64
 6   Annual_Rainfall    28740 non-null  float64
 7   Fertilizer         28740 non-null  float64
 8   Pesticide          28740 non-null  float64
 9   Yield              28740 non-null  float64
 10  Country            28740 non-null  object
 11  Soil_type          28740 non-null  object
 12  Annual_temp        27712 non-null  float64
 13  Apr_temp           27712 non-null  float64
 14  Aug_temp           27712 non-null  float64
 15  Dec_temp           27712 non-null  float64
 16  Feb_temp           27712 non-null  float64
 17  Jan_temp           27712 non-null  float64
 18  Jul_temp           27712 non-null  float64
 19  Jun_temp           27712 non-null  float64
 20  Mar_temp           27712 non-null  float64
 21  May_temp           27712 non-null  float64
 22  Monsoon_temp       27712 non-null  float64
 23  Nov_temp           27712 non-null  float64
 24  Oct_temp           27712 non-null  float64
 25  Post_Monsoon_temp  27712 non-null  float64
 26  Sep_temp           27712 non-null  float64
 27  Summer_temp        27712 non-null  float64
 28  Winter_temp        27712 non-null  float64
 29  JAN_rain           25906 non-null  float64
 30  FEB_rain           25943 non-null  float64
 31  MAR_rain           25974 non-null  float64
 32  APR_rain           25974 non-null  float64
 33  MAY_rain           25974 non-null  float64
 34  JUN_rain           25974 non-null  float64
 35  JUL_rain           25938 non-null  float64
 36  AUG_rain           25974 non-null  float64
 37  SEP_rain           25974 non-null  float64
 38  OCT_rain           25974 non-null  float64
 39  NOV_rain           25938 non-null  float64
 40  DEC_rain           25938 non-null  float64
 41  Jan-Feb_rain       25875 non-null  float64
 42  Mar-May_rain       25974 non-null  float64
 43  Jun-Sep_rain       25938 non-null  float64
 44  Oct-Dec_rain       25938 non-null  float64
dtypes: float64(38), int64(2), object(5)
memory usage: 9.9+ MB

In [50]:
data.to_csv('crop_yield_main.csv')

In [ ]:
# data.Crop_Year.unique()